.chat-main
  .main-header
    .group-info
      .group-info__name
        test
      .group-info__people
        Member:
    .edit-btn
      =link_to "/",class:"edit-btn__info" do
        Edit
  .messages
    .message
      .upper-message
        .upper-message__user-name
          username
        .upper-message__date
          2020/02/22(tes) 20:22:22
      .lower-message
        Message

    .message
      .upper-message
        .upper-message__user-name
          username
        .upper-message__date
          2020/02/22(tes) 20:22:22
      .lower-message
        Message

    .message
      .upper-message
        .upper-message__user-name
          username
        .upper-message__date
          2020/02/22(tes) 20:22:22
      .lower-message
        Message 
  
  .form
    = form_tag  do
      .form__box
        = text_field_tag :name,'',class: "form__box__message", placeholder:"Type a message"
        = label_tag :name,'',class:"form__box__image" do
          = icon('fas','image', class: 'icon')
          = file_field_tag :image, class:"hidden"
      =submit_tag 'Send',class:"submit-btn"