.chat-main
  .main-header
    .group-info
      .group-info__name
        = @group.name
      .group-info__people
        Member:
        - @group.users.each do |user|
          =user.name
    .edit-btn
      =link_to edit_group_path(@group.id),class:"edit-btn__info" do
        Edit
  .messages
    = render @messages
  
  .form
    = form_for [@group, @message] do |f|
      .form__box
        = f.text_field :content, class: "form__box__message", placeholder: "type a message"
        = f.label :image, class: "form__box__image" do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: "hidden"
      = f.submit 'Send', class: "submit-btn"